body {
  font-family: "Noto Sans", "Roboto", sans-serif  !important;
  min-height: 1000px  !important;
  background-image: var(--body-gradient)  !important;
  background-repeat: no-repeat  !important;
}

p {
    margin-bottom: 0px  !important;
}

ol, ul {
    padding-left: 0  !important;
    margin-bottom: 0  !important;
}