.wrapper {
    margin: 30px 5%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 30px;
}

.jobs-list-container {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-btn);
    color: var(--button-color);
    font-size: 18px;
    font-weight: 600;
    padding: 7px;
    box-shadow: var(--box-shadow-button);

    &:hover {
        opacity: 0.7;
    }
}

.filter {
    margin-top: 15px;
    align-self: end;
    & select {
        border: none;
        border-radius: var(--border-radius-btn);
        box-shadow: var(--box-shadow-button);
        padding: 5px 10px;
    }
}

.quantity {
    margin-left: 15px;
    
    & span {
        margin-right: 5px;
        color: var(--primary-color);
        font-size: 18px;
        font-weight: bold;
    }
}

.jobs-list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 15px;
    overflow-y: auto;
    max-height: 600px;
}

.company-container {
    display: flex;
    flex-direction: column;
}

.company {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow-item);
    padding: 5px;
}

.avatar {
    display: flex;
    & img {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }

    & p{
        flex: 1;
        margin-left: 8px;
        font-weight: 800;
        font-size: 24px;
    }
}

.information {
    height: 100px;
}

.link {
    display: flex;
    justify-content: center;
    & span {
        display: flex;
        gap: 5px;
        align-items: center;
        font-weight: 500;
        color: var(--primary-color);
    }

    & span:hover {
        text-decoration: underline;
        cursor: pointer;
        position: relative;
        top: -2px;
    }
}